body {
    margin: 0;
    font-family: system-ui;
    background: #f1f1f1;
}

h1 {
    margin-top: 20px;
}

.drawer-container {
    overflow: hidden;
    margin: 20px auto;
    background: #fff;
}

.item {
    display: flex;
    vertical-align: middle;
    align-items: center;
    align-content: center;
    text-align: center;
    width: fit-content;
    height: fit-content;
    position: absolute;
    /* border-radius: 4px; */
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.item.selected {
    /* box-shadow: 0 0 0 3px rgba(0, 120, 215, 0.8); */
    cursor: move;
}

.banner-gota-outside {
    width: 2126.8px;
    height: 5527.1px;
    background-color: red;
    clip-path: path(
        'M 2126.79 781.072 L 1936.81 1250 L 289.516 5527.15 L 123.116 5526.97 C 123.116 5526.97 118.396 5499.31 112.126 5447.87 C 107.156 5407.01 98.346 5349.6 90.856 5277.16 C 41.986 4804.85 8.126 3734.1 0.216 2665.86 C -1.884 2381.85 11.756 2114.15 22.146 1857.38 C 36.396 1505.23 56.856 1173.66 134.806 848.822 C 330.366 33.872 909.846 -52.148 1207.21 20.512 C 1458.35 81.872 1696.35 193.872 1926.68 555.262 C 1995.3 662.932 2126.78 781.072 2126.78 781.072 L 2126.79 781.072 Z'
    );
    zoom: 15%;
}

.banner-gota-inside {
    width: 100%;
    height: 100%;
    background-color: yellow;
    clip-path: path(
        'M 165.406 5504.07 C 162.266 5464.26 158.266 5419.28 153.546 5369.58 C 101.016 4815.87 65.786 3676.69 64.836 2585.87 C 64.776 2523.69 61.816 2461.64 63.956 2399.93 C 83.586 1834.6 87.086 1669.11 115.046 1343.84 C 119.486 1292.21 146.006 1081.38 185.526 888.472 C 221.146 714.602 292.336 555.002 299.746 540.222 C 347.256 445.452 404.136 361.562 468.646 290.202 C 634.076 107.222 963.446 0.492 1287.55 106.552 C 1768.34 263.892 1963.41 792.652 1970.09 810.362 C 1971.21 813.332 1971.78 814.882 1971.78 814.882 L 165.396 5504.05'
    );
}

